body {
  font-family: "Dosis", sans-serif;
  background-color: #f7fffb;
  color: #494949;
  font-weight: 300;
}

h1 {
  font-size: 72px;
  margin: 0px;
}
h2 {
  font-size: 36px;
  margin: 0px;
}
h3 {
  font-size: 22;
  margin: 0px;
}
p {
  font-size: 15px;
}

button {
  font-family: "Dosis", sans-serif;
}

a {
  text-decoration: none;
  color: #219653;
}
